# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

sorting/bubble_sort
sorting/selection_sort
sorting/merge_sort
sorting/cocktail_sort
sorting/gnome_sort
sorting/quick_sort
sorting/comb_sort
sorting/odd_even_sort
sorting/heap_sort
sorting/counting_sort

searching/binarySearch